<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ engine }}</title>
</head>
<body>
<h2>engine: {{ engine }}</h2>
<h3>{{ xss }}</h3>
<ul>
{{#each items}}
    <li>
        <table width="100%" class="table" border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th width="5%">Index</th>
                <th width="10%">ID</th>
                <th width="15%">Name</th>
                <th width="10%">Stars</th>
                <th width="10%">Forks</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{@index}}</td>
                <td>{{this.id}}</td>
                <td><a href="{{this.html_url}}">{{this.name}}</a></td>
                <td>{{this.stargazers_count}}</td>
                <td>{{this.forks}}</td>
                <td>{{this.description}}</td>
            </tr>
        </table>
    </li>
{{/each}}
</ul>
</body>
</html>